<template>
	<div>
		<h1 class="text-center myTitulo">Listado de Paquetes</h1>	
		<hr>

		<!-- Button trigger modal -->
			<button @click="update=false; openModal();" type="button" class="btn btn-success font-weight-bold">
			  Nuevo Paquete
			</button>

			<!-- Modal -->
			<div class="modal" :class="{show:modal}">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title">{{titleModal}}</h5>
			        <button @click="closeModal();" type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true" class="text-white">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			       	<div>
			       		<label for="name">Nombre</label>
			       		<input v-model="paquete.name" type="text" class="form-control" id="name" placeholder="Nombre del Paquete" name="">
			       	</div>
					<br>
			       	<div>
			       		<label for="detail">Detalle</label>
			       		<input v-model="paquete.detail" type="text" class="form-control" id="detail" placeholder="Detalle del Paquete" name="">
			       	</div>
					<br>
			       	<div v-if="!update">
			       		<label for="image" class="d-block">Imagen</label>
			       		<input @change="obtenerImagen" type="file" id="image" placeholder="Aquí va la imagen" name="">
			       	</div>
					<figure class="myFigure" v-if="imagen && !update">
						<img :src="imagen" alt="Imagen del paquete del tour">
					</figure>
			      </div>
			      <div class="modal-footer">
			        <button @click="closeModal();" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			        <button @click="save();" type="button" class="btn btn-success">Guardar</button>
			      </div>
			    </div>
			  </div>
			</div>
		<table class="table table-striped">
		  <thead class="myHead">
		    <tr>
		      <th scope="col">Id</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Detalle</th>
		      <th scope="col">Imagen</th>
		      <th scope="col" colspan="2" class="text-center">Acción</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr v-for="paquete in paquetes" :key="paquete.id">
		      <th scope="row">{{ paquete.id }}</th>
		      <td>{{ paquete.name }}</td>
		      <td>{{ paquete.detail }}</td>
		      <td>
				  <img class="myImages" :src="`images/${paquete.image}`">
			  </td>
		      <td class="text-center">
		      	<button @click="update=true; openModal(paquete);" class="btn btn-primary">Editar</button>
		      	<button @click="eliminar(paquete.id)" class="btn btn-danger">Eliminar</button>
		      </td>
		    </tr>
		  </tbody>
		</table>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				imagenMiniatura: '',
				paquete: {
					name: '',
					detail: '',
					image: ''
				},

				id: 0,
				update: true,
				modal: 0,
				titleModal: '',
				paquetes: []
			}
		},
		methods: {
			async list() {
				const res = await axios.get('paquetes');

				this.paquetes = res.data;
			},
			async eliminar(id) {
				Swal.fire({
					title: '¿Estás seguro?',
					text: "Se eliminará este registro",
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Si, ¡eliminar!'
					}).then((result) => {
					if (result.isConfirmed) {
						const res = axios.delete('/paquetes/' +id);
						this.list();
						Swal.fire({
							title: '¡Eliminado!',
							text: 'El paquete ha sido eliminado',
							icon: 'success',
							confirmButtonColor: '#64473f'
						})
					}
					})
			},
			async save() {
				const formData = new FormData()
				formData.set('name', this.paquete.name)
				formData.set('detail', this.paquete.detail)
				formData.set('image', this.paquete.image)

				if (this.update) {
					const res = await axios.put('/paquetes/' + this.id, this.paquete);

				}else{
					const res = await axios.post('/paquetes', formData);
				}
				this.closeModal();
				this.list();
			},
			obtenerImagen(e) {
				let file = e.target.files[0]
				this.paquete.image = file

				this.cargarImagen(file);
			},
			cargarImagen(file) {
				let reader = new FileReader();

				reader.onload = (e) => {
					this.imagenMiniatura = e.target.result;
				}

				reader.readAsDataURL(file);
			},
			openModal(data={}) {
				this.modal=1;
				if (this.update) {
					this.id = data.id,
					this.titleModal="Modificar Paquete";
					this.paquete.name = data.name;
					this.paquete.detail = data.detail;
					this.paquete.image = data.image;
				}else {
					this.id = 0,
					this.titleModal = "Crear Paquete";
					this.paquete.name = '';
					this.paquete.detail = '';
					this.paquete.image = '';
				}
			},
			closeModal() {
				this.modal = 0;
			},

		},
		created() {
			this.list();
		},
		computed: {
			imagen() {
				return this.imagenMiniatura
			}
		}

	}
</script>

<style scoped>
.show {
	display: list-item;
	background: rgba(0, 0, 0, .6);
	color: #ffffff;
}
.myHead {
	background: #64473f;
	color: #ffffff;
}
.myTitulo, .modal-body {
	color: #64473f;
	font-weight: bold;
}
.modal-header {
	color: #ffffff;
	background: #64473f;
	font-weight: bold;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	width: 100.1%;
}
.modal-content {
	border-radius: 15px;
}
table {
	border-radius: 10px!important;
	overflow: hidden;
	text-align: center;
}
tbody {
	border-bottom: 5px solid #64473f;
}
.myImages {
	width: 75px;
	height: 75px;
	border-radius: 10px;
}
.myFigure {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
}

.myFigure img {
	border-radius: 10px;
	width: 100px;
}
</style>